<%# <h1>Projects#edit</h1>
<p>Find me in app/views/projects/edit.html.erb</p>
<%= render 'form', project: @project %>
<%= link_to 'Back', projects_path %> %>


<%= form_for(@project) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.label :url %>
  <%= f.text_field :url %>
  <%= f.submit %>
<% end %>
